/* couleurs primaires : #9DC7FF

*/

body {
    margin: 0px 0px 0px 0px;
    margin-top: -18px;
}

header {
    background-color: #9DC7FF;
}

.container ul{
    padding: 0px;
}

header ul{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;   
}

header ul li{
    list-style-type: none;
}

header ul li:nth-child(1),li:nth-child(3) {
    margin-top: 50px;
}

@media (min-width: 500px) {   
}

@media (max-width: 500px) {
    header ul li:nth-child(1) {
        display: none;
    }
    header ul li:nth-child(3) {
        display: none;
    }    
}

@media (max-width: 768px) {
    header ul li:nth-child(1) {
        display: none;
    }
    header ul li:nth-child(3) {
        display: none;
    }    
}

@media (min-width: 768px) {
    .container {
        width: 768px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 992px;
    }
    header ul li:nth-child(1) {
        margin-left: 100px;
    }
    header ul li:nth-child(3) {
        margin-right: 100px;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 1199px;
    }
    header ul li:nth-child(1) {
        margin-left: 100px;
    }
    
    header ul li:nth-child(3) {
        margin-right: 100px;
    }
}

@media (min-width: 1400px) {
    header ul li:nth-child(1) {
        margin-left: 100px;
    }
    
    header ul li:nth-child(3) {
        margin-right: 100px;
    }
}